* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Lao Looped', sans-serif;
}

.App {
  margin-top: 8rem;
}

h2 {
  font-size: 1rem;
  margin-top: 12px;
  color: rgb(15, 188, 15);

}

p {
  font-size: 0.9rem;
  margin: 3px 0;
}

small {
  color: rgb(137, 132, 132);
}


.listIcons {

  margin: 1.5rem 1rem 0 0;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.listIcons:hover {
  color: yellowgreen;
  transform: scale(1.2);
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.logo>span {
  text-decoration: underline;
}

.create-user-btn {
  padding: 0.8rem 1.5rem;
  background-color: white;
  color: green;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0.3px 3px 1px rgb(234, 234, 234);
  position: absolute;
  top: 2.5rem;
  right: 20rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.create-user-btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 0.3px 3px 1px rgb(199, 199, 199);
}

.mainHeading {
  margin: 0 auto;
  font-size: 1.3rem;
  color: green;
  width: max-content;
}

.container {
  width: 50%;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 0.3px 3px 1px rgb(234, 234, 234);
}

.avatar {
  border-radius: 100%;
  width: 70px;
  margin: 0.4rem 1rem auto 0;
  transition: 0.3s ease;
}

.avatar:hover {
  transform: scale(1.2);
}

.info {
  margin-right: auto;
}

.footer {
  margin: 3rem auto 0.8rem;
  text-align: center;
  width: max-content;
  padding: 1rem 10rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  box-shadow: 0px 0.3px 3px 1px rgb(234, 234, 234);
  color: rgb(15, 188, 15);
}

/* ---------- Modal ----------- */

.modalBackground {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 25vw;
}

.modalContainer {
  box-shadow: 0px 0.3px 3px 1px rgb(234, 234, 234);
  position: relative;
  border-radius: 4px;
  padding: 3rem;
}

.crossBtn {
  position: absolute;
  top: -2px;
  right: 0;
  font-size: 1.8rem;
  transition: 0.2s ease;
  cursor: pointer;
  color: green;
}

.crossBtn:hover {
  color: red;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: white;
  color: green;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0.3px 3px 1px rgb(199, 199, 199);
  transition: 0.2s ease;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 0.3px 3px 1px rgb(199, 199, 199);
}

.modalBody {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.modalHeading {
  color: green;
  font-family: monospace;
  font-size: 1.5rem;
  text-align: center;
}

.modalInputs {
  margin: 5px 0;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 0.87rem;
  background-color: #9e9a9a;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
}

.modalInputs::placeholder {
  color: rgb(211, 209, 209);
}

.modalInputs:focus {
  transform: scale(1.02);
}

.footerModal {
  display: flex;
  justify-content: space-between;
}